<div class="form-container">
    <div class="form-item">
        <label for="fullName">{{langaugeConfig[selectedLanguage].fullName}}</label>
        <input id="fullName" type="text">
    </div>
    <div class="form-item">
        <label for="email">{{langaugeConfig[selectedLanguage].email}}</label>
        <input id="email" type="text">
    </div>
    <div class="form-item">
        <label for="mainCharacter">{{langaugeConfig[selectedLanguage].mainCharacter}}</label>
        <input id="mainCharacter" type="text">
    </div>
    <div class="form-item">
        <label for="mainCharacterAge">{{langaugeConfig[selectedLanguage].mainCharacterAge}}</label>
        <input id="mainCharacterAge" type="number">
    </div>
    <div class="form-item">
        <label for="numberOfParticipants">{{langaugeConfig[selectedLanguage].numberOfParticipants}}</label>
        <input id="numberOfParticipants" type="number">
    </div>
    <div class="form-item">
        <label for="phoneNumber">{{langaugeConfig[selectedLanguage].phoneNumber}}</label>
        <input id="phoneNumber" type="text">
    </div>
    <div class="form-item">
        <label for="companyName">{{langaugeConfig[selectedLanguage].companyName}}</label>
        <input id="companyName" type="text">
    </div>
    
    
</div>
