<div class="form-container">
    <div class="form-item">
        <label for="fullName">{{languageService.languageConfig[languageService.selectedLanguage].fullName}}</label>
        <input id="fullName" type="text">
    </div>
    <div class="form-item">
        <label for="email">{{languageService.languageConfig[languageService.selectedLanguage].email}}</label>
        <input id="email" type="text">
    </div>
    <div class="form-item">
        <label for="mainCharacter">{{languageService.languageConfig[languageService.selectedLanguage].mainCharacter}}</label>
        <input id="mainCharacter" type="text">
    </div>
    <div class="form-item">
        <label for="mainCharacterAge">{{languageService.languageConfig[languageService.selectedLanguage].mainCharacterAge}}</label>
        <input id="mainCharacterAge" type="number">
    </div>
    <div class="form-item">
        <label for="numberOfParticipants">{{languageService.languageConfig[languageService.selectedLanguage].numberOfParticipants}}</label>
        <input id="numberOfParticipants" type="number">
    </div>
    <div class="form-item">
        <label for="phoneNumber">{{languageService.languageConfig[languageService.selectedLanguage].phoneNumber}}</label>
        <input id="phoneNumber" type="text">
    </div>
    <div class="form-item">
        <label for="companyName">{{languageService.languageConfig[languageService.selectedLanguage].companyName}}</label>
        <input id="companyName" type="text">
    </div>
    
    
</div>
