* {
    box-sizing: border-box;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.form-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
}

.form-item input {
    margin-right: 5px;
}