<div class="form-container">
    <div class="form-item">
        <label for="fullName">{{languageShort.fullName}}</label>
        <input id="fullName" type="text">
    </div>
    <div class="form-item">
        <label for="email">{{languageShort.email}}</label>
        <input id="email" type="text">
    </div>
    <div class="form-item">
        <label for="mainCharacter">{{languageShort.mainCharacter}}</label>
        <input id="mainCharacter" type="text">
    </div>
    <div class="form-item">
        <label for="mainCharacterAge">{{languageShort.mainCharacterAge}}</label>
        <input id="mainCharacterAge" type="number">
    </div>
    <div class="form-item">
        <label for="numberOfParticipants">{{languageShort.numberOfParticipants}}</label>
        <input id="numberOfParticipants" type="number">
    </div>
    <div class="form-item">
        <label for="phoneNumber">{{languageShort.phoneNumber}}</label>
        <input id="phoneNumber" type="text">
    </div>
    <div class="form-item">
        <label for="companyName">{{languageShort.companyName}}</label>
        <input id="companyName" type="text">
    </div>
    <div class="form-item">
        <label for="eventDate">{{languageShort.eventDate}}</label>
        <input id="eventDate" type="date" min="{{currentDate | date:'y-0M-0d' }}">
    </div>
    
    
</div>
