<section class="dropdown">
    <button class="dropbtn">
        <span class="material-icons">menu</span>
    </button>

    <div class="dropdown-content">
        <div (click)="navigateOnClick('/')">ראשי</div>
        <div (click)="navigateOnClick('book')">הזמן אירוע</div>
        <div (click)="navigateOnClick('services')">שירותים</div>
        <div (click)="userService.toggleLogin(true)">התחבר</div>
    </div>
</section>


<section>
    🛒
</section>


<section>
    Logo
</section>

<section>
    <p>שירות לקוחות והזמנות</p>
    <p>03-5531606📞</p>
</section>

<section>
    <div>
        🔍<input type="text" placeholder="מה אתם מחפשים">
    </div>
</section>